<!-- edit a perticulat page. linked from show -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit camp!</title>
</head>
<body>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
    <input type="text" id="title" name="campground[title]"  placeholder="Title" value="<%=campground.title%>">

    <input type="text" id="location" name="campground[location]" placeholder="Location" value="<%=campground.location%>" >
    
    <button>Edit</button>
    <br/>
    <a href="/campgrounds">All Campgrounds</a>
    <a href="/campgrounds/<%=campground._id%>">Back to Canpgrounds</a>
    </form>
</body>
</html>