<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new camp!</title>
</head>
<body>
    <form action="/campgrounds" method="post">
    <input type="text" 
    id="title" 
    name="campground[title]" 
    placeholder="Title" >

    <input type="text" 
    id="location" 
    name="campground[location]" 
    placeholder="Location" >
    <button>AddCamp</button>
    <br/>
    <a href="/campgrounds">All Campgrounds</a>
    </form>
</body>
</html>